body {
    background: linear-gradient(to right, lightgray 40%, ghostwhite 40%);
    width:100%;
    height:100%;
}

h1 {
    color: gray;
    text-align: left;
    font-size: 30px;
}

h4 {
    color: black;
    text-align: left;
}

h6 {
    color: black;
    text-align: left;
    position: relative;
    top: -70px;
}

p {
    color: black;
    font-family: verdana;
    text-align: left;
    font-size: 20px;
}

.p2 {
    color: black;
    font-family: verdana;
    text-align: left;
    font-size: 14px;
    position: relative;
    top: -75px;
}

.p3 {
    color: black;
    font-family: verdana;
    text-align: left;
    font-size: 14px;
    position: relative;
    top: -75px;
}

.h6-4 {
    color: black;
    text-align: left;
    position: relative;
    top: -45px;
}

.p4 {
    color: black;
    font-family: verdana;
    text-align: left;
    font-size: 14px;
    position: relative;
    top: -50px;
}

.container {
    position: relative;  
    width:90%;
    height:90%;
}
.container:before {
    content:"";
    position:absolute;
    width:90%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}
.container:hover::before {
    background-color:rgba(0,0,0,0.5);
}
.container img {
    width: 90%;
    height: 90%;
    display:block;
}
.container button {
    position: absolute;
    background-color: Transparent;
    border-color: black;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
} 
.container:hover button {   
    opacity: 1;
}

.leftcontainer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 100%;
}

.rightcontainer {
    width: auto;
    height: 100%;
    background-color: blue;
}

img.resize {
    max-width:30%;
    max-height:30%;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 10%;
}

.vl {
    border: 1px solid black;
    height: 1325px;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 0;
}

.main-col {
    float:left;
    width: 40%;
}

.right-col {
    float: right;
    width: 60%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: white;
    color: black;
}

.fa-envelope {
    color: black;
    position: relative;
    right: 75px;
}

.fa {
    padding: 8px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.typetext h1 {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 24px;
    color: rgba(0, 0, 0);
    margin: 0 auto;
    margin-bottom: 10%;
    animation: typing 3.5s steps(25,end) 1s 1 normal both,
             blink-caret 600ms steps(25,end) infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 74%}
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(0,255,0,.75); }
  }
